<div>
  <div class="row footer">
    <div class="col-12 col-sm-3">
      <h1>Profil</h1>
      <img src="./assets/profil.png" id="profil">
      <h6>Gaëlle Brossas</h6>
      <p>Développeuse Java Full Stack<br />
        Titulaire d'un master écologie-environnement</p>
    </div>
    <div class="col-12 col-sm-3">
      <h1></h1>
      <p>Texte de présentation du site, réalisé avec Angular</p>
    </div>
  <div class="col-12 col-sm-3">
    <h1>Contact</h1>
    <p><i class="fa fa-home"></i> 17 rue de la Croix St-Louis<br />22550 Pléboulle<br />France</p>
    <p><i class="fa fa-phone"></i> 06 67 45 06 23</p>
    <p><i class="fa fa-envelope"></i> gaellebrossas@orange.fr</p>
  </div>
  <div class="col-12 col-sm-3">
    <a href="https://www.linkedin.com/in/ga%C3%ABlle-brossas-173950199/"><img class="logo" src="./assets/logo/linkedin.png" alt="logo LinkedIn"></a>
   <br />
   <a href="https://github.com/Gaelleb22"><img class="logo" src="./assets/logo/github.png" alt="logo GitHub"></a>
  </div>
  </div>

</div>
<div class="row copyright">
  <p>© 2020 Copyright : Gaëlle Brossas</p>
    </div>
