<div class="row">
  <div class="col-12 col-lg-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">À propos de ce site</h5>
        <h6 class="card-subtitle mb-2 text-muted">Le 10 oct 2020</h6>
        <p class="card-text">Plus dynamique qu'un CV traditionel, ce site à été réalisé dans le but de regrouper et présenter mon travail. Venez découvrir mes réalisations professionnelles
          (applications de gestion) et mes projets personnels.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <app-carousel></app-carousel>
  </div>
  <div class="col-12 col-lg-2"></div>
</div>
